.item {
  margin: 1rem 0;
}

.image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  padding: 1rem;
  background-color: #f1f1f1;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.actions button {
	font: inherit;
	cursor: pointer;
	padding: 0.5rem 1.5rem;
	border: 1px solid #77002e;
	color: white;
	background: #77002e;
	border-radius: 4px;
	font-weight: bold;
}

.actions button:hover,
.actions button:active {
	background: #a50e48;
	border-color: #a50e48;
}